div.global-app-bar--flex-column--div {
  flex: 1;
}

.global-app-bar--link {
  text-decoration: none;
  text-transform: none;
}

span.global-app-bar--link--span {
  text-decoration: none;
  text-transform: none;
}

button.global-app-bar--title-button {
  font-size: 1.4rem;
  height: 3rem;
  margin: 0 auto;
  text-decoration: none;
  text-transform: none;
}

.global-app-bar--title--title-button--text {
  text-decoration: none;
  text-transform: none;
}

ul.global-app-bar--buttons--ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
